* {
	box-sizing:border-box;
}

body {
	font-family: Arial, sans-serif;
	background: #000;
	color:#fff;
	margin:0;
}

h1 img {
	height:128px;
}
p {
	text-align:center;
}
a {
	color:white;
}

#topline {
	height:50px;
	background-color:#444;
}

#topline .element {
	float:left;
	height:100%;
}

#topline img {
	height:100%;
}

#topline input {
	height:100%;
	border:0;
	background:#555;
	color:#eee;
	padding:0 10px;
	font-size:24px;
}

#topline select {
	height:100%;
	border:0;
	background:#555;
	color:#ccc;
	padding:0 10px;
	font-size:24px;
}

#title {
	color:darkorange;
	margin:0 10px;
	line-height:50px;
}

#status {
	font-style: italic;
	color:darkorange;
}
#soundgrid {
	width:1280px;
	margin:0 auto;
}
#soundgrid .item {
	width:32px;
	height:32px;
	background-color:#444;
}
#soundgrid img {
	width:32px;
	height:32px;
	overflow:hidden;
}
#soundlist {
	width:1280px;
	margin:0 auto;
}