* {
	box-sizing:border-box;
}

/*Normal tags*/

body {
	font-family: Arial, sans-serif;
	background: #000;
	color:#fff;
	margin:0;
}

h1 img {
	height:128px;
}

p {
	text-align:center;
}

a {
	color:white;
}

form {
	height:100%;
}

input {
	border:0;
	background:#555;
	color:#eee;
}

select {
	border:0;
	background:#555;
	color:#ccc;
}

/*IDs*/

#topline {
	height:50px;
	background-color:#444;
}

#topline .element {
	float:left;
	height:100%;
}

#topline img {
	height:100%;
}

#topline input {
	height:100%;
	font-size:24px;
	padding:0 10px;
}

#topline select {
	height:100%;
	padding:0 10px;
	font-size:24px;
}

#title {
	color:darkorange;
	margin:0 10px;
	line-height:50px;
}

#status {
	font-size:48px;
	background-color:rgba(0,0,0,0.8);
	color:darkorange;
	
	display:none;
	
	position: absolute;
	z-index:10;
	top:0; bottom:0; left:0; right:0;
	padding-top:calc(50vh - 25px);
	text-align:center;
}

#maincontent {
	height:calc(100vh - 50px);
}
#maincontent:after {
	content:"";
	display:block;
	clear:both;
}

#sidebar {
	width:400px;
	height:100%;
	float:left;
	background-color:#222;
}

#sidebar table {
	width:100%;
	color:#ccc;
}

#sidebar table tr:nth-child(2) {
	background-color:#2a2a2a;
}

#grid {
	width:calc(100% - 400px);
	height:100%;
	float:left;
	background-color: #111;
	overflow-y: scroll;
	position: relative;
}

#output {
	width:100%;
	margin:0 auto;
}

#output .item {
	width:32px;
	height:32px;
	padding:0;
	background-color: #000;
	/*background-image:url('media/spinner.gif');
	background-repeat:no-repeat;
	background-position: center;*/
	display:block;
	float:left;
	position:relative;
}

#output .image {
	position: absolute;
	background-size:cover;
	top:0; bottom:0; left:0; right:0;
	overflow:hidden;
}